<%provide(:title, @user.username)%>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.first_name + " " + @user.last_name %>

			</h1>
		</section>
	</aside>
	<body>
		<p>
		

		<%= @user.email %>
		<%= @user.role %>
		
		</p>

	</body>
</div>