<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>			<!--have to relook at the example to see how to get the title in a variable-->
</head>

<body>

	<header>

	<div class="navbar navbar-fixed-top">			
		<div class="navbar-inner">
			<div class="container">
				<p>Association pour la Promotion du Go au Maroc</p>

				<nav >
					<ul class="nav pull-right">
						<li class="active"><a href="#">Home  </a></li>
						<li><a href="#">The Game of go</a></li>
						<li><a href="#">Tournaments</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
				

			</div>
		</div>
	</div>	
	
	</header>


<p>BIATTTCHHHH</p>


</body>

</html>