@import "bootstrap";

@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}


/* universal */
html {
	overflow-y: scroll;
}

body {
	padding-top: 100px;			/*Jach allows to put space from the header */
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {			/*associates the center class with the text-align: center property. In other words,the dot . in .center indicates that the rule styles a class*/
	
	text-align: center;

}

.center h1 {
	margin-bottom: 10px;
}

.navbar-inner {
  background-color: #333333;
  background-image: none;		/*it seems boostrap uses a backgound image*/
  background-repeat: no-repeat;
  filter: none;
}

/*Upper Menu*/

.navbar .nav > li > a {
	color: white;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;	}	/* Gives the li a white color xD*/


.navbar .nav > li > a:hover {

	background-color: transparent;
	color: #777777;
	text-decoration: none;
}

.title {
	color: white;

}

/* forms (new user, new article)*/
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
	list-style: none;
	margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}